


.about-page {
    /* background-image: url(about-image.jpg); */
    background-color: mediumspringgreen;
    /* background-color: gainsboro; */
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
}

.about {
    text-align: center;
}

.connect-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 35%;
    width: 35%;
    margin-bottom: 12px;
}

.line1 {
    text-align: center;
    padding-top: 3%;
}

.card {
    padding-left: 15%;
}